<%- include('../components/head'); %>
<%- include('../components/navbar'); %>

<div class="container">
    <div class="row align-items-center my-5">
        <h1>ERROR 404</h1>
    </div>
</div>

<%- include('../components/footer'); %>
<%- include('../components/javascript'); %>