<!--====== FOOTER PART START ======-->

<section class="footer-area footer-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="footer-logo text-center">
                    <a class="mt-30" href="/"><img src="assets/images/logo.svg" alt="Logo"></a>
                </div> <!-- footer logo -->
                <ul class="social text-center mt-60">
                    <li><a href="https://facebook.com/brunomoraisti"><i class="mdi mdi-facebook"></i></a></li>
                    <li><a href="https://twitter.com/brunomoraisti"><i class="mdi mdi-twitter"></i></a></li>
                    <li><a href="https://instagram.com/brunomoraisti"><i class="mdi mdi-instagram"></i></a></li>
                    <li><a href="https://linkedin.com/in/brunomoraisti"><i class="mdi mdi-linkedin"></i></a></li>
                </ul> <!-- social -->
                <div class="footer-support text-center">
                    <span class="number">+111111111111</span>
                    <span class="mail">brunomoraisti@gmail.com</span>
                </div>
                <div class="copyright text-center mt-35">
                    <p class="text">Designed by <a href="https://github.com/brunomoraisti" rel="nofollow">brunomoraisti</a> </p>
                </div> <!--  copyright -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== FOOTER PART ENDS ======-->

</body>
</html>

