<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= params.title!==undefined ? params.title : 'Home Page' %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">

</head>


<body class="container">
